In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
code can be commented by using '#'.  comments are of single-line , multi-line, and docstring comments.

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
variables are the symbolic name used to assign values . special characters and starting with number is not the correct way to declare a variable. 
just name the variable and then assign a value to it. for eg. a = 4.

In [ ]:
Q3. How do you convert one data type to another in Python?

In [ ]:
to convert one data type to another there are several built in fuction to perform this. by integer conversion , by float conversion , string , list , tuple 
dictionary conversion.

In [ ]:
Q4. How do you write and execute a Python script from the command line?

In [ ]:
1. open a text editor and create a new file 
2. in text editor , write your python code.
3. save the file and then press enter .
4.open command line and navigate to directory where you saved your python script.
5. once you are in correct directory , you can execute python script by running python script.py.

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [ ]:
Q6. what is complex number in maths and how it is represented in python?

In [ ]:
complex number is basically a combination of real and imaginary numbers . it is representend in python by 5+8j.

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
The correct way to declare a variable named age and assign the value 25 to it depends on the programming language you are using

In [2]:
age = 25

In [3]:
age

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [4]:
price = 9.99

In [5]:
type(price)

float

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name = "AYUSH MEHTA"

In [7]:
print(name)

AYUSH MEHTA

In [10]:

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
string = "Hello, World!"
substring = string[7:12]
print(substring)

World